body{
    color: #2d3436;
}
h1,
.h1 {
    font: bold 1.2em/1.4em var(--font-family),
        var(--bs-font-sans-serif);
}
.mode_mobile .container-wide {
    padding-right: 0;
    padding-left: 0;
}

.mode_mobile .container-wide>.row {
    margin-left: 0;
    margin-right: 0;
}

.mode_mobile .container-wide>.row>.widget-column {
    padding-right: 0;
    padding-left: 0;
}
.mode_mobile .page>.container {
    padding: 0;
}
.mode_mobile .main-content {
    margin-top: 157px;
}
.mode_mobile body {
    font-size: 13px;
    background: #fafafa;
}
.mode_mobile #box_products .content {
    padding: 15px;
}
.mode_mobile #box_products .content .header {
    margin-bottom: 15px;
}
.content .header .title,
.widget .header .title {
    width: auto;
    float: right;
}
.content .body,
.widget .body {
    text-align: justify;
}
.mode_mobile .content {
    padding: 0 15px;
}
.mode_mobile .content{

}