.user-area {
    width: auto;
    float: left;
    position: relative;
    padding-left: 36px;
}
.account-box .ant-space-item {
    color: var(--bs-light)
}

.ant-dropdown {
    top: 64px !important;
    width: 300px;
}